# Python specific
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz
*.pyw
*.pydevproject
*.idea/
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.pyc
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz
*.pyw
*.pydevproject
*.idea/
*.egg-info/
dist/
build/
/env/
./env
/env
env
*.csv